In [1]:
import pandas as pd
import numpy as np

`pip install ucimlrepo` for directly importing the data

In [2]:
from ucimlrepo import fetch_ucirepo 
  
myocardial_infarction_complications = fetch_ucirepo(id=579) 
  
X = myocardial_infarction_complications.data.features 
y = myocardial_infarction_complications.data.targets 
  
# metadata 
#print(myocardial_infarction_complications.metadata) 
  
# variable information 
#print(myocardial_infarction_complications.variables)

concatenating X, y if needed just in case 

last 12 columns are true labels

In [3]:
df = pd.concat([X,y], axis=1)
df.head()

,AGE,SEX,INF_ANAM,STENOK_AN,FK_STENOK,IBS_POST,IBS_NASL,GB,SIM_GIPERT,DLIT_AG,...,JELUD_TAH,FIBR_JELUD,A_V_BLOK,OTEK_LANC,RAZRIV,DRESSLER,ZSN,REC_IM,P_IM_STEN,LET_IS
0,77.0,1,2.0,1.0,1.0,2.0,NaN,3.0,0.0,7.0,...,0,0,0,0,0,0,0,0,0,0
1,55.0,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
2,52.0,1,0.0,0.0,0.0,2.0,NaN,2.0,0.0,2.0,...,0,0,0,0,0,0,0,0,0,0
3,68.0,0,0.0,0.0,0.0,2.0,NaN,2.0,0.0,3.0,...,0,0,0,0,0,0,1,0,0,0
4,60.0,1,0.0,0.0,0.0,2.0,NaN,3.0,0.0,7.0,...,0,0,0,0,0,0,0,0,0,0

adding extractracted to new csv file

In [4]:
df.to_csv('data_original.csv', index=False)

adding feature names to txt file

In [5]:
with open('features.txt','w') as file:
	file.write('\n'.join(list(X.columns)))

functions

In [6]:
#master binary : use this for binary columns, there are many
#pass the column name and then a tuple containing the custom values which is optional, by default it is no/yes

def master_binary(column_name: str, custom_text=('no', 'yes')):
    df[column_name] = df[column_name].map({0: custom_text[0], 1: custom_text[1], np.nan: 'N/A'})

In [7]:
def changecol1():
    df['AGE'] = df['AGE'].apply(lambda x: str(int(x)) + 'y 0m' if not pd.isna(x) else 'N/A')

def changecol2():
    df['SEX'] = df['SEX'].map({0: 'female', 1: 'male'})

def changecol3():
    df['INF_ANAM'] = df['INF_ANAM'].map({ 0: 'zero', 1: 'one', 2: 'two', 3:'three'})

def changecol4():
    df['STENOK_AN'] = df['STENOK_AN'].map({0: 'never', 1: 'last summer', 2:'1y ago', 3:'2y ago', 4:'3y ago', 5:'4-5y ago',6:'>5y ago', np.nan: 'N/A'})

def changecol5():
    df['FK_STENOK'] = df['FK_STENOK'].map({0:'none', 1:'I FC', 2: 'II FC', 3: 'III FC', 4: 'IV FC'})

def changecol6():
    df['IBS_POST'] = df['IBS_POST'].map({0: 'none', 1: 'exertional', 2: 'unstable'})

def changecol8():
    df['GB'] = df['GB'].map({0:'none', 1: 'Stage 1', 2: 'Stage 2', 3: 'Stage 3', np.nan: 'N/A'})

def changecol10():
    df['DLIT_AG'] = df['DLIT_AG'].map({0:'none', 1: '1y', 2:'2y', 3:'3y', 4:'4y', 5:'5y', 6:'6-10y', 7:'>10y', np.nan: 'N/A'})

def changecol11():
    df['ZSN_A'] = df['ZSN_A'].map({0:'none', 1: 'I stage', 2: 'II stage',  3: 'II stage',  4: 'IIB stage', np.nan: 'N/A'})

applying transformations in data

In [8]:
changecol1()
changecol2()
changecol3()
changecol4()
changecol5()
changecol6()
master_binary('IBS_NASL', ('burdened', 'not burdened')) #7
changecol8()
master_binary('SIM_GIPERT') #9
changecol10()
changecol11()

#12 - 22

remaining_binary_12_22 = ['nr_11', 'nr_01', 'nr_02', 'nr_03', 'nr_04', 'nr_07', 'nr_08', 'np_01', 'np_04', 'np_05', 'np_07']
for feature in remaining_binary_12_22:
    master_binary(feature)

In [9]:
df.to_csv('data_edited.csv', index=False)